/*
  media query
/*---------------------------------------*/
// @import mediaquery-setting
// @import setting



/*
  uikit 3
/*---------------------------------------*/
// @import variables-theme.scss
// @import mixins-theme.scss
// @import uikit-theme.scss


/*
  components
/*---------------------------------------*/
// @import components/common


.text
  margin-top: 23px